// GENERAL STYLES
.contactDetails h3,
.getInTouch h3,
.contactDetails h4 {
    font-weight: bold;
}

// CONTACT US HEADER STYLES
header.contactPage {
    height: auto;
    background: white;
}

.contactPageMain h1 {
    font-size: 3.7rem;
    letter-spacing: 0.9px;
    margin: -10px 0 80px 0px;
    width: 200px;
    line-height: 50px;
    padding-top: 70px;
}


// CONTAIN MAIN SECTION
.contactPageMain {
    background-image: url(./../creative-assets/contact-1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 100vw;
}

.contactInfo div {
    width: calc(100vw / 3);
    padding-left: 70px;
    margin: 70px 0px;
}

.contactInfo div:nth-of-type(2) {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}

.contactInfo {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}

.contactInfo i {
    font-size: 2.4rem;
}