// footer styles
footer,
footer h3 {
    background:#333333;
    color: white;    
    line-height: 20px;
}

footer h3 {
    margin-bottom: 30px;
}

.footerInfo {
    display: flex;
    justify-content: space-around;
}

.contactUs ul {
    display: flex;
    font-size: 1.3rem;
    width: 100px;
    justify-content: flex-start;
    justify-content: space-between;

}

.contactUs p,
.recentPosts p {
    text-align: left;
}

.recentPosts ul {
    list-style-type: disc;
}


.subscribeNow h3,
.subscribeNow {
    text-align: right;
}

// FOOTER FORM
.footerForm {
    position: relative;
    margin-top: 0px;
}

.footerForm button {
    display: inline-block;
    background-color: $primaryBackground;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    bottom: -20px;
    border: none;
}

.footerForm input[type=email] {
    height: 50px;
    width: 300px;
    border: none;
    font-size: 1.5rem;
    display: inline-block;
    margin-right: 0px;
    padding-left: 20px;
}

// CREATIVE AGENCY SECTION
.creativeAgency {
    height: 150px;
    border-top: 1px solid $secondaryColor;
    text-align: center;

    h5 {
        font-size: 1.4rem;
        width: 100%;
        color: white;
        letter-spacing: 5px;
        margin-top: 75px;
        }
}

