
//COMMENT & MESSAGE FORM
form {
    margin-bottom: 60px;
}

input[type=text],
input[type=email] {
    width: calc((100% / 3) - 40px / 2);
    border: 0px;
    border-bottom: 1px solid lightgrey;
    margin-right: 20px;
}

input:nth-of-type(3) {
    margin-right: 0px;
}

input[type=textarea] {
    margin-top: 40px;
    width: 100%;
    resize: none;    
    border: 0px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 100px;
}

form button {
    padding: 20px 0px 10px 0px;
    margin: 20px 0px;
    border-bottom: 1px solid black;
    background: white;
}



