/* -- setup styles --  */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -- end of set up styles -- */
/* -- global styles -- */
html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

/* -- end of global styles */
/* -- resetting styles -- */
a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* -- end of resetting styles -- */
/* -- high level font styles -- */
h1,
h2,
h3,
h4,
h5,
nav {
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

h3,
h4,
.carousel p,
footer ul .socialMediaIcons {
  margin-top: 50px;
}

h1.logo {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.5rem;
}

nav,
p,
button {
  font-size: 1.4rem;
}

nav,
p {
  letter-spacing: 0.3px;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/* -- end of high level font styles */
/* -- header styles -- */
header {
  height: 100vh;
  background-image: url(../creative-assets/home-1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  margin: 30px;
}

/* -- end of header styles -- */
/* -- index page branding and website pros styles -- */
.about {
  background-color: #C3DAB7;
  padding: 150px 0px 100px 0px;
}

.aboutImaging {
  position: relative;
}

.aboutText {
  position: absolute;
  top: -100px;
  left: 20%;
}

.aboutImage {
  display: block;
  margin: 0 auto;
}

.aboutInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutInfo div {
  width: 350px;
}

/* -- end of home page branding and website pros styles -- */
/* -- index page carousel style -- */
.carousel {
  padding: 100px;
}

.carousel img {
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

.carousel p {
  font-style: italic;
  width: 700px;
  margin: 30px auto;
}

.carousel i {
  font-size: 3.5rem;
}

.carouselArrows {
  position: relative;
}

.fa-chevron-left {
  position: absolute;
  top: 50%;
  left: 10%;
}

.fa-chevron-right {
  position: absolute;
  top: 50%;
  right: 10%;
}

.carousel .fas:hover {
  color: grey;
}

/* --  end of index page carousel style -- */
/* -- index page offerings style -- */
.offerings {
  background-image: url(../creative-assets/home-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.offeringsList {
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 300px 300px;
      grid-template-columns: 300px 300px;
  -ms-grid-rows: 125px 125px 125px;
      grid-template-rows: 125px 125px 125px;
  grid-row-gap: 25px;
  grid-column-gap: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 30px;
}

.offeringsList div p,
.offeringsList div h3 {
  width: 270px;
  text-align: left;
}

.offeringsList div {
  position: relative;
}

.offeringsList span {
  position: absolute;
  top: 50%;
  left: -65px;
}

/* --  end of index page offerings style -- */
/* --  team section style -- */
.team {
  margin: 60px;
}

.team h2 {
  margin-bottom: 60px;
}

.teamPlayers {
  background: #F6F6F6;
  max-height: 270px;
}

.teamPlayers p,
.teamPlayers h4 {
  margin-left: 20px;
}

.team ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.teamPlayers {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.teamPlayers p,
.teamPlayers h4 {
  text-align: left;
  width: 90%;
}

.workWithUs {
  margin: auto auto;
}

.workWithUs h4 {
  width: 150px;
}

.team ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* --  end of team section style -- */
.dropUsALine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 600px;
  background-color: #C3DAB7;
}

.dropUsALineImg img {
  width: 50vw;
  max-height: 600px;
  display: block;
}

.dropUsALineText {
  margin: auto auto;
  text-align: center;
  width: 500px;
}

.dropUsALineText p {
  margin: 40px 0px;
  color: gray;
}

button {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: 'Montserrat';
  padding: 15px 20px;
  background: white;
  letter-spacing: 0.6px;
  font-weight: bold;
  border: none;
}

footer,
footer h3 {
  background: #333333;
  color: white;
  line-height: 20px;
}

footer h3 {
  margin: 60px 0px 30px 0px;
}

.footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 0px 60px 0px;
}

.contactUs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  width: 100px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactUs p,
.recentPosts p {
  text-align: left;
}

.recentPosts ul {
  list-style-type: disc;
}

.subscribeNow h3,
.subscribeNow {
  text-align: right;
}

footer form {
  display: inline-block;
  height: 100px;
}

footer button {
  position: absolute;
  background-color: #C3DAB7;
  height: 50px;
}

footer input {
  height: 50px;
  width: 300px;
  border: none;
  position: relative;
  font-size: 1.5rem;
  padding-left: 30px;
}

.creativeAgency {
  height: 150px;
  border-top: 1px solid grey;
}

.creativeAgency h5 {
  font-size: 1.4rem;
  width: 100%;
  color: white;
  letter-spacing: 5px;
  margin-top: 75px;
}

.blogPost h1,
.blogPost p,
.blogPost h3,
.blogPost h2,
.relatedPosts h2,
.relatedPosts h4,
.comments h2,
.leaveAComment h2 {
  text-align: left;
  margin-top: 0px;
}

.blogPost h1 {
  font-size: 3.7rem;
  letter-spacing: 0.9px;
  font-weight: bold;
  margin-top: 60px;
}

.breadCrumbs {
  font-weight: 600;
}

.blogInfo img {
  border-radius: 50%;
  width: 100px;
}

.blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid lightgrey;
}

.blogAuthor {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.blogInfo div {
  margin-left: 20px;
  margin: auto 20px;
  padding-bottom: 20px;
}

.blogPost h3 {
  margin-bottom: 0px;
}

.blogPost p {
  color: grey;
}

.blogContent {
  margin: 60px 0px;
}

.blogContent p:nth-child(1) {
  font-weight: bold;
  color: black;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share ul {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.relatedPosts h2,
.comments h2,
.leaveAComment h2 {
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}

.posts h4 {
  margin: 20px 0px 40px 0px;
}

.comments {
  margin-bottom: 80px;
}

.commentInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.commentPic {
  margin-right: 50px;
}

.commentBox h3 span {
  color: #015201;
  font-style: italic;
  font-size: 1.2rem;
  text-transform: capitalize;
}

p.commentTime {
  font-size: 1.2rem;
  color: #a3a2a2;
}

.comments p {
  margin-bottom: 0px;
}

.commentText {
  padding: 20px;
  line-height: 30px;
  background: #F6F6F6;
}

.tip {
  position: absolute;
  border: 10px solid #F6F6F6;
}

.tip-left {
  top: 10px;
  left: -20px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.commentBox {
  position: relative;
  width: 100%;
}

form label {
  visibility: hidden;
}

form input {
  font-size: 1.4rem;
}
