html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted grey;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted grey;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid black;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
nav,
button {
  color: black;
  font-weight: 400;
  text-transform: uppercase;
}

h1,
.dropUsALine button {
  font-weight: bold;
}

h1.logo {
  font-size: 3rem;
}

.blogPost h1 {
  font-size: 3.7rem;
  letter-spacing: 0.9px;
  margin-top: 60px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
  margin: 0px;
}

h4 {
  font-size: 1.5rem;
}

nav,
p,
button,
form input {
  font-size: 1.4rem;
  letter-spacing: 0.3px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 100vh;
  background-image: url(../creative-assets/home-1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  margin: 30px;
}

header a:hover {
  text-decoration: line-through;
}

footer,
footer h3 {
  background: #333333;
  color: white;
  line-height: 20px;
}

footer h3 {
  margin-bottom: 30px;
}

.footerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contactUs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  width: 100px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactUs p,
.recentPosts p {
  text-align: left;
}

.recentPosts ul {
  list-style-type: disc;
}

.subscribeNow h3,
.subscribeNow {
  text-align: right;
}

.footerForm {
  position: relative;
  margin-top: 30px;
}

.footerForm button {
  display: inline-block;
  background-color: #C3DAB7;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0px;
  bottom: -20px;
  border: none;
}

.footerForm input[type=email] {
  height: 50px;
  width: 300px;
  border: none;
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 0px;
  padding-left: 20px;
}

.creativeAgency {
  height: 150px;
  border-top: 1px solid grey;
  text-align: center;
}

.creativeAgency h5 {
  font-size: 1.4rem;
  width: 100%;
  color: white;
  letter-spacing: 5px;
  margin-top: 75px;
}

form {
  margin-bottom: 60px;
}

input[type=text],
input[type=email] {
  width: calc((100% / 3) - 40px / 2);
  border: 0px;
  border-bottom: 1px solid lightgrey;
  margin-right: 20px;
}

input:nth-of-type(3) {
  margin-right: 0px;
}

input[type=textarea] {
  margin-top: 40px;
  width: 100%;
  resize: none;
  border: 0px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 100px;
}

form button {
  padding: 20px 0px 10px 0px;
  margin: 20px 0px;
  border-bottom: 1px solid black;
  background: white;
}

.contactDetails h3,
.getInTouch h3,
.contactDetails h4 {
  font-weight: bold;
}

header.contactPage {
  height: auto;
  background: white;
}

.contactPageMain h1 {
  font-size: 3.7rem;
  letter-spacing: 0.9px;
  margin: -10px 0 80px 0px;
  width: 200px;
  line-height: 50px;
  padding-top: 70px;
}

.contactPageMain {
  background-image: url(./../creative-assets/contact-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  width: 100vw;
}

.contactInfo div {
  width: calc(100vw / 3);
  padding-left: 70px;
  margin: 70px 0px;
}

.contactInfo div:nth-of-type(2) {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0px;
}

.contactInfo i {
  font-size: 2.4rem;
}

.blogContent,
.share,
.posts,
.comments,
.leaveAComment,
form {
  margin-top: 80px;
}

.blogPost h2 {
  font-weight: bold;
  font-size: 2.5rem;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
  text-align: left;
}

.breadCrumbs {
  font-weight: 600;
  color: black;
}

.blogInfo {
  margin-top: 30px;
}

.blogInfo img {
  border-radius: 50%;
  width: 100px;
}

.blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid lightgrey;
}

.blogAuthor {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.blogInfo div {
  margin-left: 20px;
  margin: auto 20px;
  padding-bottom: 20px;
}

.blogContent {
  margin: 60px 0px;
}

.blogContent p:nth-child(1) {
  font-weight: bold;
  color: black;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.share ul {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts h4 {
  margin-top: 20px;
}

.comments {
  margin-bottom: 80px;
}

.commentInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.commentPic {
  margin-right: 50px;
}

.commentBox h3 span {
  color: #015201;
  font-style: italic;
  font-size: 1.2rem;
  text-transform: capitalize;
}

p.commentTime {
  font-size: 1.2rem;
}

.comments p {
  margin-bottom: 0px;
}

.commentText {
  padding: 20px;
  line-height: 30px;
}

.tip {
  position: absolute;
  border: 10px solid #F6F6F6;
}

.tip-left {
  top: 10px;
  left: -20px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.commentBox {
  position: relative;
  width: 100%;
}

.primaryBackground {
  background-color: #C3DAB7;
}

.secondaryBackground {
  background-color: #F6F6F6;
}

.carousel .fas:hover,
.dropUsALineText p,
.carousel p,
p.commentTime,
.blogPost p,
.portfolioList p,
.teamPlayers p {
  color: grey;
}

.about,
.carousel,
.team,
.portfolio,
.footerInfo {
  padding: 100px 0px;
}

img {
  display: block;
}

h2 {
  text-align: center;
}

.aboutImaging {
  position: relative;
}

.aboutText {
  position: absolute;
  top: -20px;
  left: 25%;
}

.aboutImage {
  padding-top: 70px;
  margin: 0 auto;
}

.aboutInfo {
  margin-top: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutInfo div {
  width: 350px;
}

.carousel img {
  border-radius: 50%;
  margin: 0 auto;
}

.carousel p {
  font-style: italic;
  text-align: center;
  width: 700px;
  margin: 30px auto;
}

.carousel i {
  font-size: 3.5rem;
}

.carouselArrows {
  position: relative;
}

.fa-chevron-left,
.fa-chevron-right {
  position: absolute;
  top: 50%;
}

.fa-chevron-left {
  left: 0%;
}

.fa-chevron-right {
  right: 0%;
}

.portfolio {
  background-image: url(../creative-assets/home-4.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolioList {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -ms-grid-rows: 125px 125px 125px;
      grid-template-rows: 125px 125px 125px;
  grid-row-gap: 40px;
  grid-column-gap: 60px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 30px;
}

.portfolioList div p,
.portfolioList div h3 {
  width: 270px;
}

.portfolioList div {
  position: relative;
}

.portfolioList span {
  position: absolute;
  top: 50%;
  left: -65px;
}

.team h2 {
  margin-bottom: 70px;
}

.teamPlayers {
  max-height: 270px;
  padding: 15% 5% 10% 5%;
}

.team ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
}

.teamPlayers {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.workWithUs h4 {
  width: 150px;
  text-align: center;
}

.workWithUs {
  margin: auto auto;
}

.team ul li {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.dropUsALine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropUsALineImg img {
  width: calc(100vw / 2);
  max-height: 600px;
}

.dropUsALineText {
  width: calc(100vw / 2);
  margin: auto auto;
  text-align: center;
  width: 500px;
}

.dropUsALineText p {
  margin: 40px 0px;
  text-align: center;
}

button {
  padding: 15px 20px;
  font-family: 'Montserrat';
  letter-spacing: 0.6px;
  border: none;
  margin: 0 auto;
}
